In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="Your_Username",
  password="Your_Password", 
  database="Your_databasename"  
)
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("Select * from nishant.decision_tree")

In [ ]:
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "Select Sex, Na_to_K from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select count(Na_to_K) from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where Age > 50 "
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select* from nishant.decision_tree where Age  between 50 and 60"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where BP = 'NORMAL'"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where BP like 'L%'"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where BP='LOW' and Age >60"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where BP ='HIGH' or Age <50"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where Na_to_K is null"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where Na_to_K is not null"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select sum(Na_to_K) from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select avg(Age) from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select max(Age) from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select min(Age) from nishant.decision_tree"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select BP, sum(Na_to_K) from nishant.decision_tree group by BP"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select BP, avg(Na_to_K) from nishant.decision_tree group by BP"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select BP, max(Na_to_K) from nishant.decision_tree group by BP"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select BP, min(Na_to_K) from nishant.decision_tree group by BP"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = " select BP,avg(Na_to_K) as avg from nishant.decision_tree group by BP order by avg asc"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query ="select BP,count(Sex) as number from nishant.decision_tree group by BP"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select BP, count(sex) as cnt from nishant.decision_tree group by BP having cnt>65"
mycursor.execute(query) 
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "update nishant.decision_tree set Na_to_K = 31.686 where BP = 'NORMAL'"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select * from nishant.decision_tree where BP = 'NORMAL'"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select Na_to_K, BP,customer_id,relationship from nishant.decision_tree inner join nishant.census_data on nishant.decision_tree.Age = nishant.census_data.age order by Na_to_K"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select Na_to_K, BP,customer_id,relationship from nishant.decision_tree right join nishant.census_data on nishant.decision_tree.Age = nishant.census_data.age order by Na_to_K"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)

In [ ]:
query = "select Na_to_K, BP,customer_id,relationship from nishant.decision_tree left join nishant.census_data on nishant.decision_tree.Age = nishant.census_data.age order by Na_to_K"
mycursor.execute(query)
for i in mycursor.fetchall():
    print(i)